* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: grey;
}

.container{
  width: 330px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 50px 35px 40px 35px;
}

.container header{
  font-size: 32px;
  margin: 0 0 30px 0;
  font-weight: 600;
}

.container .form-outer{
  width: 100%;
  overflow: hidden;
}

.container .form-outer form{
  display: flex;
  width: 400%;
}

.container form .page{
  width: 25%;
}
.container form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.container form .page .field{
  height: 45px;
  width: 330px;
  margin: 45px 0;
  position: relative;
  display: flex;
}

.container form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}

.container form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 15px;
}

.container form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  margin-top: -20px;
  border: none;
  background-color: #d43f8d;
  color: #fff;font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

.container form .page .field button:hover{
  background-color: #000;
}

.container form .page.btns button{
  margin-top: -20px;
}

.container form .page  .btns button .prev{
  margin-right: 3px;
  font-size: 17px;
}

.container form .page  .btns button .next{
  margin-left: 3px;
  font-size: 17px;
}

.container form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}

.container .progress-bar{
  display: flex;
  margin: 40px 0;
}

.container .progress-bar .step{
  text-align: center;
  width: 100%;
}

.progress-bar .step p{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 8px;
}

.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  position: relative;
}

.progress-bar .step span{
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.progress-bar .step .check{
  display: none;
}

.progress-bar .step:last-child  .bullet:before,
.progress-bar .step:last-child  .bullet:after{
  display: none;
}

.progress-bar .step  .bullet:before,
.progress-bar .step  .bullet:after{
  position: absolute;
  content: '';
  width: 44px;
  height: 3px;
  background: #262626;
  bottom: 11px;
  right: -51px;
}

.progress-bar .step  .bullet:after{
  background: #d4358d;
  animation: animate 0.3s linear forwards;
  transform: scaleX(0);
  transform-origin: left;

}

@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
